:host {
    text-align: center;
    display: block;
  }
  
  form {
    max-width: 300px;
    margin: auto;
    
  }
  
  mat-form-field {
    width: 100%;
    color: #ffffff;
  }
  .actions {
    text-align: center;
  }

  .actions button{
    background: #FA8072;
    color: #ffffff;
  }

  .formlogin{
    position: absolute;
    top:50%;
    left:50%;
    width: 300px;
    margin-left: -150px;
    height: 324 px;
    margin-top: -162px;

  }
  
  mat-form-field.mat-form-field {
    font-size: 16px;
  }


  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;;
   }

   .mat-form-field-empty.mat-form-field-label {
    color: white;
}

   ::ng-deep input.mat-input-element {
    color: white;
  }
