<div class = "formlogin">
  <img src="../../../../assets/escudo.svg" alt="" style="margin-bottom: 20px;">

  <head>
    <title>Login</title>
  </head>

  <form [formGroup]="loginForm">
    <div class="campo">
      <mat-form-field appearance="fill">
        <mat-label>Tipo de documento</mat-label>
        <mat-select>
          <mat-option value="option">DNI</mat-option>
          <mat-option value="option">Carnet de extranjería</mat-option>
          <mat-option value="option">Otro</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <br>

    <div class="campo">
      <mat-form-field appearance="fill">
        <mat-label>Nr. de documento</mat-label>
        <input matInput>
       <!-- <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>-->
      </mat-form-field>
    </div> 

    <br>

    <div class="actions">
      <button mat-raised-button  type="submit" [disabled]="!loginForm.valid">Ingresar</button>
    </div>

  </form>
</div>
