<div class = "formlogin">

  <form [formGroup]="loginForm">
    <img src="../../../../assets/escudo.svg" alt="">
    <mat-form-field appearance="fill">
      <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
    </mat-form-field>

    <br>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Ingresa</button>
    </div>

  </form>
</div>
