:host {
    text-align: center;
    display: block;
  }
  
  form {
    max-width: 300px;
    margin: auto;
    
  }
  
  mat-form-field {
    width: 100%;
    background-color: white;
  }
  .actions {
    text-align: center;
  }
