$md-gob-primary: (
    50 : #f7e1e1,
    100 : #ecb5b5,
    200 : #df8484,
    300 : #d25353,
    400 : #c92e2e,
    500 : #bf0909,
    600 : #b90808,
    700 : #b10606,
    800 : #a90505,
    900 : #9b0202,
    A100 : #ffc6c6,
    A200 : #ff9393,
    A400 : #ff6060,
    A700 : #ff4747,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);


$md-gob-accent: (
    50 : #e0ebf5,
    100 : #b3cce6,
    200 : #80aad5,
    300 : #4d88c4,
    400 : #266fb7,
    500 : #0055aa,
    600 : #004ea3,
    700 : #004499,
    800 : #003b90,
    900 : #002a7f,
    A100 : #adc1ff,
    A200 : #7a9bff,
    A400 : #4774ff,
    A700 : #2d61ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


