:host {
    text-align: center;
    display: block;
  }
  
  form {
    max-width: 300px;
    margin: auto;
    
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .actions {
    text-align: center;
  }

  .actions button{
    background: #CD5C5C;
    color: #ffffff;
    font-size: large;
    width: 120px;
    height: 43px;
    border-radius: 15px;
    
    /*font-family: "Lato", sans-serif;*/
    font-family: "Ubuntu", ubuntu;
  }

  .formlogin{
    position: absolute;
    top:50%;
    left:50%;
    width: 300px;
    margin-left: -150px;
    height: 400px;
    margin-top: -200px;
  }
  
  .backgroundDiv{
    background-image: url("../../../../assets/background_vicuna.svg");
    height: 100vh;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  

  .escudoRojo{
    filter: brightness(0.5) sepia(2) saturate(10000%) invert(20%) brightness(0.8);
  }