<div class="backgroundDiv">
  
  <div class = "formlogin">
    <!--<img src="../../../../assets/escudo.svg" class="escudoRojo" style="margin-bottom: 20px; fill: #bf0909">-->

    <h1>Login</h1>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label >Código de usuario</mat-label>
        <input matInput type="text" id="username" formControlName="username" autocomplete="off">
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label >Contraseña</mat-label>
        
        <!--<input matInput type="password" id="password" formControlName="password">-->
        
        <input matInput  [type]="hide ? 'password' : 'text'" id="password" formControlName="password">

        <button type="button" color="primary" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar/esconder contraseña'" [attr.aria-pressed]="hide">
         <mat-icon >{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>

      <br>

      <div >
        <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">Ingresar</button>
      </div>

    </form>
  </div>
</div>

