@import '~@angular/material/theming';
@include mat-core();
@import './palettes/gob-palette.scss';



$default-gob-primary: mat-palette($md-gob-primary);
$default-gob-accent: mat-palette($md-gob-accent);

$default-gob-light-theme: mat-light-theme(
    $default-gob-primary,
    $default-gob-accent
);
@include angular-material-theme($default-gob-light-theme);

.alter-theme {
    $alternate-primary: mat-palette($md-gob-primary);
    $alternate-accent:  mat-palette($md-gob-accent-alter);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  
    @include angular-material-theme($alternate-theme);
}

.dark-default-theme {
    $default-gob-dark-primary: mat-palette($md-gob-primary);
    $default-gob-dark-accent:  mat-palette($md-gob-accent-alter);
    $default-gob-dark-theme: mat-dark-theme($default-gob-dark-primary, $default-gob-dark-accent);
  
    @include angular-material-theme($default-gob-dark-theme);
}