.row {
  display: flex;
  flex-direction: row;
}

mat-grid-tile {
  background: lightblue;
}


#map {
  width: 100%;
 }

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}