
<div style="width: 100vw; height: 100vh;">
  <app-nav-bar></app-nav-bar>
  <div style="width: 100vw; height: calc(100% - 64px);">
    <mat-grid-list cols="2" rowHeight="fit" style="height: 100%;">

      <!--Acá van los filtros-->
      <mat-grid-tile rowspan="1" colspan="1">       
        <mat-tab-group mat-stretch-tabs  color="primary" class="full-width-height mat-elevation-z4">
          <mat-tab label="Filtrar"> 
            <mat-card >
              <mat-card-title>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Limpiar</button>
                </mat-menu>
              </mat-card-title>

              <!--Acá va el filtro por fecha-->

              <mat-card-subtitle>Filtrar por fecha</mat-card-subtitle>
              <mat-card-content> 
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <mat-label>Fecha de inicio</mat-label>
                      <input matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col" >
                    <mat-form-field class="full-width">
                      <mat-label>Fecha de fin</mat-label>
                      <input matInput [matDatepicker]="picker2">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>           
              <mat-divider></mat-divider>
              <br>

              <!--Acá va el filtro por ubicación-->

              <mat-card-subtitle>Filtrar por ubicación</mat-card-subtitle>
              <div class="row">
                <div class="col">

                  <!--Acá va el filtro por región-->

                  <mat-form-field class="full-width">
                    <input type="text"
                           placeholder="Región"
                           aria-label="Región"
                           matInput
                           [matAutocomplete]="auto"
                           [(ngModel)]="selectedRegion">
                    <button mat-button *ngIf="selectedRegion" matSuffix mat-icon-button aria-label="Borrar" (click)="selectedRegion=''">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor = "let reg of departamentos" [value] = "reg">
                        {{reg}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <!--Luego se debe eliminar el botón de zoom-->

                  <button mat-button (click)="zoomregion($event)" type="button">
                    Zoom
                  </button>
                </div>

                <!--Acá va el filtro por provincia-->

                <div class="col">
                  <mat-form-field class="full-width">
                    <input type="text"
                           placeholder="Provincia"
                           aria-label="Provincia"
                           matInput
                           [matAutocomplete]="auto1"
                           [(ngModel)]="provincia">
                    <button mat-button *ngIf="provincia" matSuffix mat-icon-button aria-label="Borrar" (click)="provincia=''">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete #auto1="matAutocomplete">
                      <mat-option>
                        Opción
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

                <!--Acá va el filtro por distrito-->

                <div class="col">
                  <mat-form-field class="full-width">
                    <input type="text"
                           placeholder="Distrito"
                           aria-label="Distrito"
                           matInput
                           [matAutocomplete]="auto2"
                           [(ngModel)]="distrito">
                    <button mat-button *ngIf="distrito" matSuffix mat-icon-button aria-label="Borrar" (click)="distrito=''">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete #auto2="matAutocomplete">
                      <mat-option>
                        Opción
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <mat-divider></mat-divider>
              <br>

              <!--Acá va el filtro por tipo-->

              <mat-card-subtitle>Filtrar por tipo</mat-card-subtitle>
              <div class="row">
                <div class="col">
                  <mat-slide-toggle color="primary">Contagios</mat-slide-toggle>
                </div>
                <div class="col">
                  <mat-slide-toggle color="primary">Posibles contagios</mat-slide-toggle>
                </div>
                <div class="col">
                  <mat-slide-toggle color="primary">No definido</mat-slide-toggle>  
                </div>
              </div>            
              </mat-card-content>
            </mat-card>
            <mat-divider></mat-divider>
          </mat-tab>

          <!--Acá van nuevo features-->

          <mat-tab label="Gráficos"> Gráficos van acá </mat-tab>
          <mat-tab label="Proyecciones"> Proyecciones van acá </mat-tab>
        </mat-tab-group>
        
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="1">
      
        <!--Acá va el mapa-->
      
        <div #mapContainer id="map"></div>
      </mat-grid-tile>

      <!--Acá va el panel de anuncios y/o alertas-->

      <mat-grid-tile rowspan="1" colspan="1">
        <mat-tab-group mat-stretch-tabs  color="primary" class="full-width-height mat-elevation-z4">
          <mat-tab label="Anuncios">
            <mat-card>
              <mat-form-field class="full-width">
                <mat-label>Añada un anuncio</mat-label>
                <textarea matInput rows="10" placeholder="Ej. Respete la cuarentena..."></textarea>
              </mat-form-field>
              <mat-card-actions align="end">
                <button mat-button color="accent">Enviar</button>
                <button mat-button color="warn">Limpiar</button>
              </mat-card-actions>
            </mat-card>
          </mat-tab>
          <mat-tab label="Alertas">
            <mat-card>
              <mat-form-field class="full-width">
                <mat-label>Añada una alerta</mat-label>
                <textarea matInput rows="10" placeholder="Ej. Respete la cuarentena..."></textarea>
              </mat-form-field>
              <mat-card-actions align="end">
                <button mat-button color="accent">Enviar</button>
                <button mat-button color="warn">Limpiar</button>
              </mat-card-actions>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
