<mat-toolbar color="primary" class="mat-elevation-z3">
  <!--
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  -->
  <!--
  <img src="../../../../assets/escudo.svg" alt="escudo" width="40px" height="40px">
  <span>&nbsp; Gobierno del Perú</span>
  -->
  <span>&nbsp; Dashboard</span>

  <span class="fill-spacer"></span> <span style="font-size: x-small;">Último acceso: {{acceso | date:'medium':'es'}}</span>  
  
  <button mat-icon-button [matMenuTriggerFor]="moreMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #moreMenu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      Salir
    </button>
    <button mat-menu-item>
      <mat-icon>help</mat-icon>
      Help
    </button>
  </mat-menu>
</mat-toolbar>